body {
    background-color: rgba(155, 255, 172, 0.74);
    font-family: "Indie Flower", cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;

}

button {
         background-color: rgb(116, 194, 139);  
         font-family: "Indie Flower", cursive;
}